@charset "utf-8";
/* CSS Document */

.example {
position:relative;
background:#FFF url(../images/background.jpg);
width:670px;
height:470px;
border:1px #000 solid;
margin:20px auto;
padding:15px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.menuholder {
float:left;
font:normal bold 11px/35px verdana, sans-serif;
overflow:hidden;
position:relative;
}

.menuholder .shadow {
-moz-box-shadow:0 0 20px rgba(0, 0, 0, 1);
-o-box-shadow:0 0 20px rgba(0, 0, 0, 1);
-webkit-box-shadow:0 0 20px rgba(0, 0, 0, 1);
background:#888;
box-shadow:0 0 20px rgba(0, 0, 0, 1);
height:10px;
left:5%;
position:absolute;
top:-9px;
width:90%;
z-index:100;
}

.menuholder .back {
-moz-transition-duration:.4s;
-o-transition-duration:.4s;
-webkit-transition-duration:.4s;
background-color:#E8ECF0;
height:0;
width:100%;
}

.menuholder:hover div.back {
height:250px;
}

ul.menu {
display:block;
float:left;
list-style:none;
margin:0;
padding:0 125px;
position:relative;
}

ul.menu li {
float:left;
margin:0 5px 0 0;
}

ul.menu li > a {
-moz-border-radius:0 0 10px 10px;
-moz-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.9);
-moz-transition:all 0.2s ease-in-out;
-o-border-radius:0 0 10px 10px;
-o-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.9);
-o-transition:all 0.2s ease-in-out;
-webkit-border-bottom-left-radius:10px;
-webkit-border-bottom-right-radius:10px;
-webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.9);
-webkit-transition:all 0.2s ease-in-out;
border-radius:0 0 10px 10px;
box-shadow:2px 2px 4px rgba(0, 0, 0, 0.9);
color:#000;
display:block;
padding:0 10px;
text-decoration:none;
transition:all 0.2s ease-in-out;
}

ul.menu li a.c1 {
background:#BAC6D3;
}

ul.menu li a.c2 {
background:#BAC6D3;
}

ul.menu li a.c3 {
background:#BAC6D3;
}

ul.menu li a.c4 {
background:#BAC6D3;
}

ul.menu li a.c5 {
background:#BAC6D3;
}

ul.menu li a.c6 {
background:#BAC6D3;
}

.menu li div.subs {
left:0;
overflow:hidden;
position:absolute;
top:35px;
width:0;
}

.menu li div.subs dl {
-moz-transition-duration:.2s;
-o-transition-duration:.2s;
-webkit-transition-duration:.2s;
float:left;
margin:0 130px 0 0;
overflow:hidden;
padding:40px 0 5% 2%;
width:0;
}

.menu dt {
color:#000;
font-family:arial, sans-serif;
font-size:12px;
font-weight:700;
height:20px;
line-height:20px;
margin:0;
padding:0 0 0 10px;
white-space:nowrap;
}

.menu dd {
margin:0;
padding:0;
text-align:left;
}

.menu dd a {
background:E8ECF0;
color:#000;
font-size:12px;
height:20px;
line-height:20px;
padding:0 0 0 10px;
text-align:left;
white-space:nowrap;
width:80px;
}

.menu dd a:hover {
color:#000;
}

.menu li:hover div.subs dl {
-moz-transition-delay:0.2s;
-o-transition-delay:0.2s;
-webkit-transition-delay:0.2s;
margin-right:2%;
width:21%;
}

ul.menu li:hover > a,ul.menu li > a:hover {
background:#aaa;
color:#fff;
padding:10px 10px 0;
}

ul.menu li a.c1:hover,ul.menu li:hover a.c1 {
background:#5E7A99;
}

ul.menu li a.c2:hover,ul.menu li:hover a.c2 {
background:#5E7A99;
}

ul.menu li a.c3:hover,ul.menu li:hover a.c3 {
background:#5E7A99;
}

ul.menu li a.c4:hover,ul.menu li:hover a.c4 {
background:#5E7A99;
}

ul.menu li a.c5:hover,ul.menu li:hover a.c5 {
background:#5E7A99;
}

ul.menu li a.c6:hover,ul.menu li:hover a.c6 {
background:#5E7A99;
}

.menu li:hover div.subs,.menu li a:hover div.subs {
width:100%;
178
}
